PRODUCT_NAME = PicPacPoe
PRODUCT_BUNDLE_IDENTIFIER = dev.saipranith.picpacpoe
MARKETING_VERSION = 2.0.0
CURRENT_PROJECT_VERSION = 1

IPHONEOS_DEPLOYMENT_TARGET = 17.0
SUPPORTED_PLATFORMS = iphoneos iphonesimulator
TARGETED_DEVICE_FAMILY = 1,2
SUPPORTS_MACCATALYST = NO
SUPPORTS_MAC_DESIGNED_FOR_IPHONE_IPAD = NO

SWIFT_VERSION = 6.0
SWIFT_STRICT_CONCURRENCY = complete
SWIFT_EMIT_LOC_STRINGS = YES

ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon

GENERATE_INFOPLIST_FILE = YES
INFOPLIST_FILE = PicPacPoe/Info.plist
INFOPLIST_KEY_CFBundleDisplayName = Pic-Pac-Poe
INFOPLIST_KEY_LSApplicationCategoryType = public.app-category.games
INFOPLIST_KEY_UIApplicationSceneManifest_Generation = NO
INFOPLIST_KEY_UIApplicationSupportsIndirectInputEvents = YES
INFOPLIST_KEY_UILaunchScreen_Generation = NO
INFOPLIST_KEY_UISupportedInterfaceOrientations_iPhone = UIInterfaceOrientationPortrait UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationLandscapeRight
INFOPLIST_KEY_UISupportedInterfaceOrientations_iPad = UIInterfaceOrientationPortrait UIInterfaceOrientationPortraitUpsideDown UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationLandscapeRight

CODE_SIGNING_ALLOWED = NO
CODE_SIGNING_REQUIRED = NO
ENABLE_USER_SCRIPT_SANDBOXING = YES
